<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--PlantUml FTP host adress-->
    <add key="PlantUml.Host" value="127.0.0.1"/>
    <!--PlantUml FTP port adress-->
    <add key="PlantUml.Port" value="4242"/>
    <!--PlantUml FTP user (default is empty)-->
    <add key="PlantUml.FtpUser" value=""/>
    <!--PlantUml FTP paswword (default is empty)-->
    <add key="PlantUml.FtpPwd" value=""/>
    <!--Path to plantuml.jar if MarkSpecs is used as a PlantUml server. 
    If not set, a PlantUml FTP server is launch by another process, MarkSpecs will directly connect to the host. 
    -->
    <add key="PlantUml.Path" value="vendors\plantuml.jar"/>
    <!--Parameters used to launch PlantUml. 
    Internally, MarkSpecs uses -ftp -tsvg to launch plantuml.-->
    <add key="PlantUml.Parameters" value=""/>
    <!--Number of plantuml host.
    If set to 0, MarkSpecs will directly connect to the host. A PlantUml Server has to be launch by another process.-->
    <add key="PlantUml.InstancesCount" value="3"/>
    <!--Path to java.exe, used to launch plantuml.
    If empty MarkSpecs will try to identify the relevant path thanks the environment variables-->
    <add key="Java.Path" value=""/>
    <!--Path to Mocodo Python application-->
    <add key="Mocodo.Path" value="vendors\mocodo\mocodo.py"/>
    <!--Path to Railroad Python library-->
    <add key="Railroad.Path" value="vendors\railroad\railroad.py"/>
    <!--Path to SchemDraw Python library-->
    <add key="Schemdraw.Path" value="vendors\schemdraw.zip"/>
    <!--Path to the headers used in the temporary Python script to generate the Schemdraw-->
    <add key="Schemdraw.PythonHeader" value="PythonHeaders\schemdraw_pythonheader.txt"/>
    
    <!--Path to the default header file-->
    <add key="DefaultHtmlHeaderPath" value="default/head.html"/>
  </appSettings>
</configuration>